<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BE7F89A1ED7B179002CC7C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE7F8B61ED7B17A002CC7C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE7F8C11ED7B17A002CC7C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
